.FHR{
    font-style: unset;
    font-size: 80px;
    color: rgb(159, 182, 224);
    position: absolute;
    left: 150px;
    text-shadow: 2px 2px 5px rgb(102, 102, 146);
}
.body{
    background-color: black;
}
.banner{
    width: 100%;
    height: 150px;
    background-color: rgb(41, 54, 65);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.banner img{
       width: 200px;
   height: auto;
   object-fit: cover;
   box-shadow: 2px 2px 5px cadetblue;
   right: 200px;
   position: absolute;
}
.div{
   display: flex;
    align-items:center;
    gap: 20px;
    padding: 20px; 
    max-width: 900px;
    margin: auto;
background-color: rgb(39, 36, 36);
margin-top: 70px;
border-radius: 25px;
transition: transform 0.2s ease, box shadow 0.2s ease;

}
.div1 img{
       width: 200px;
   height: auto;
   object-fit: cover;
   box-shadow: 2px 2px 5px cadetblue;
}
.div2{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    line-height: 1.5;
}
.div2 h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
}
.div:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0, 0.2);


}
.div3 img{
       width: 200px;
   height: auto;
   object-fit: cover;
   box-shadow: 2px 2px 5px cadetblue;
}
.div4{
      color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    line-height: 1.5;
}
.div4 h2{
        margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
}
.div5 img{
            width: 200px;
   height: auto;
   object-fit: cover;
   box-shadow: 2px 2px 5px cadetblue;
}
.div6{
          color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    line-height: 1.5;
}
.div6 h2{
            margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
}
.div7 img{
            width: 200px;
   height: auto;
   object-fit: cover;
   box-shadow: 2px 2px 5px cadetblue;
}
.div8{
          color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    line-height: 1.5;
}
.div8 h2{
            margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
}
.wsp1{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s ease-in-out;
    z-index: 999;
}

.wsp1 img {
    width: 40px;
    height: 40px;
}

.wsp1:hover {
    transform: scale(1.15);
    cursor: pointer;
}
.footer-simple {
    background-color: #413e3e;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    font-size: 14px;
}